# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Crash and replay logs
hs_err_pid*.log
replay_pid*.log
.kotlin/errors/
